.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  /* border-top: 1px solid #ccc; */
  background-color: #fff;
  z-index: 1000;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.bottom-bar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #000; /* 필요시 색상 변경 */
}

.bottom-bar-item span {
  margin-top: 4px;
  font-size: 12px;
}
