.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  /* border-top: 1px solid #ccc; */
  background-color: #fff;
  z-index: 1000;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.bottom-bar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #000; /* 필요시 색상 변경 */
}

.bottom-bar-item span {
  margin-top: 4px;
  font-size: 12px;
}

.bottom-bar-icon {
  width: 24px; /* 기본 너비 */
  height: 24px; /* 기본 높이 */
  object-fit: contain; /* 이미지의 비율을 유지하면서 크기를 맞춤 */
  transition: transform 0.2s ease-in-out; /* 변환 시 부드러운 효과 */

  /* 원하는 경우 반응형 조정 */
  @media (max-width: 600px) {
    width: 20px;
    height: 20px;
  }

  /* 마우스 호버 시 크기 변환 예시 */
  &:hover {
    transform: scale(1.1); /* 크기 증가 효과 */
  }
}
