/* 기본 페이지 스타일 */
.signup-form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 내용이 위로 쌓이도록 설정 */
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 68px;
}

/* "만나서 반가워요 본인의 정보를 입력해주세요" 위치 조정 */
.signup-heading {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-top: 30px;
  margin-bottom: 0px !important;
  text-align: left;
  width: 100%;
}

.signup-subheading {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #333;
  text-align: left;
  width: 100%;
}

/* 입력 필드 그룹 스타일 */
.input-group {
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-bottom: 5px;
  box-sizing: border-box;
  color: #aaa; /* 기본 텍스트 색상은 회색 */
  transition: color 0.3s ease;
}

.input-group input:focus,
.input-group input:not(:placeholder-shown) {
  color: #333; /* 입력값이 있을 때 글자색을 검정색으로 변경 */
  border-bottom: 2px solid #3b3b3b;
}

.input-group small {
  font-size: 12px;
  color: #888;
  margin-top: 5px;
}

/* 드롭다운 스타일 */
.select-group select {
  cursor: pointer;
  font-size: 16px;
  padding: 12px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.3s ease;
}

.select-group select:hover {
  border-color: #3b3b3b; /* hover 시 border 색상 변경 */
  background-color: #f0f0f0; /* hover 시 배경 색상 변경 */
}

/* 버튼 스타일 */
.signup-button {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  background-color: #828282;
  color: white;
  border: none;
  border-radius: 18px;
  cursor: not-allowed;
  margin-top: auto;
  transition: background-color 0.3s ease;
}

.signup-button.active {
  background-color: #3b3b3b; /* 버튼 활성화 시 색상 */
  cursor: pointer;
}

.signup-button:hover {
  background-color: #5a5a5a; /* 버튼 hover 시 색상 */
}

/* 하단 버튼 위치 */
.signup-button {
  margin-bottom: 30px;
}

/* 각 페이지의 최소 높이를 확보 */
.signup-form-container > * {
  margin-bottom: 20px;
}

/* TIP 텍스트 스타일 */
.tip-text {
  color: #db5e43; /* 빨간색 */
  font-weight: bold; /* 강조를 위해 굵게 */
}

/* 이전 버튼 스타일 */
.back-button {
  position: absolute;
  top: 20px; /* 화면 상단에 위치 */
  left: 20px; /* 화면 왼쪽에 위치 */
  font-size: 14px;
  background: transparent;
  border: none;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.back-button:hover {
  color: #888; /* hover 시 색상 변화 */
}

/* 에러 메시지 스타일 */
.error-text {
  color: #db5e43; /* 빨간색 */
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}
