/* 전체 레이아웃 스타일 */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  min-height: 100vh;
  margin-left: 10px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  color: #333;
  text-align: left !important;
}

h1.hi {
  margin-top: 50px;
  margin-bottom: 0px;
}

h1.your {
  margin-bottom: 40px;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
  text-align: center;
}

/* 입력 필드 그룹 스타일 */
.input-group {
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  /*border-radius: 8px;*/
  border: none;
  border-bottom: 2px solid #ccc;
  margin-bottom: 5px;
  box-sizing: border-box;
  color: #aaa; /* 기본 텍스트 색상은 회색 */
  transition: color 0.3s ease;
}

.input-group input:focus,
.input-group input:not(:placeholder-shown) {
  color: #333; /* 입력값이 있을 때 글자색을 검정색으로 변경 */
  border-bottom: 2px solid #3b3b3b;
}

.input-group small {
  font-size: 12px;
  color: #888;
  margin-top: 5px;
}

/* 드롭다운 스타일 */
select {
  cursor: pointer;
  font-size: 16px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* 버튼 스타일 */
button {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  background-color: #828282;
  color: white;
  border: none;
  border-radius: 18px;
  cursor: not-allowed;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

button.active {
  background-color: #3b3b3b; /* 버튼 활성화 시 파란색 */
  cursor: pointer;
}

/* 하단 버튼 위치 */
button {
  margin-bottom: 30px;
}

/* 각 페이지의 최소 높이를 확보 */
.form-container > * {
  margin-bottom: 20px;
}

/* 기본 텍스트 스타일 */
.small-text {
  font-size: 12px;
  color: #888; /* 기본 회색 텍스트 */
}

/* TIP! 텍스트 스타일 */
.tip-text {
  color: #db5e43; /* 빨간색 */
  font-weight: bold; /* 강조를 위해 굵게 */
}
