.home-main {
  padding: 16px;
}

.header-section {
  margin-bottom: 16px;
}

.header-image-placeholder {
  width: 100%;
  height: 50px;
  background-color: #ccc;
  margin-bottom: 8px;
}

.colored-area {
  margin-bottom: 16px;
}

.colored-area-placeholder {
  width: 100%;
  height: 150px;
  background-color: #e0e0e0;
}

.summary-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.summary-item {
  text-align: center;
}

.summary-image-placeholder {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  margin-bottom: 4px;
}

.popular-section {
  margin-bottom: 16px;
}

.popular-paku-scroll-container {
  /* 클래스명 통일 */
  display: flex;
  overflow-x: auto;
  padding: 8px 0;
  gap: 8px;
  white-space: nowrap; /* 줄바꿈 방지 */
  scroll-behavior: smooth; /* 부드러운 스크롤링 효과 */
}

.popular-paku-scroll-container > * {
  flex: 0 0 auto; /* 자식 요소가 가로로 고정되도록 설정 */
}

.popular-paku-scroll-container::-webkit-scrollbar {
  display: none; /* 스크롤바 숨김 */
}
