.home-main {
  padding: 16px;
  margin-bottom: 100px;
}

.home-main h2 {
  font-family: "Pretendard";
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 24px;
  color: #000;
  font-weight: 200;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.header-image-placeholder {
  width: 60px; /* 필요시 크기 조정 */
  height: 30px;
  /* background-color: #ccc; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
}

.profile-placeholder {
  height: 35px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
}

.colored-area {
  position: relative;
  margin-bottom: 8px;
}

.colored-area-placeholder {
  width: 100%;
  height: 300px;
  background-color: #e0e0e0;
  position: relative;
  border-radius: 18px;
}

.colored-area h3 {
  position: absolute;
  top: 16px;
  left: 16px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #000;
}

.summary-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  gap: 16px;
  background-color: #f3f3f3;
  padding: 15px;
  border-radius: 18px;
}

.summary-item {
  text-align: center;
}

.summary-image-placeholder {
  width: 40px;
  height: 40px;
  background-color: #d9d9d9;
  margin-bottom: 4px;
}

.popular-section {
  margin-bottom: 16px;
}

.popular-section h3 {
  padding-top: 10px;
  font-size: 20px;
  color: #000;
}

.popular-paku-scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 8px;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.popular-paku-scroll-container > * {
  flex: 0 0 auto;
}

.popular-paku-scroll-container::-webkit-scrollbar {
  display: none;
}

/* Map.css */
/* map 영역 스타일 */
#map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; /* 항목 간 간격을 자동으로 조정 */
  gap: 8px; /* 항목 간 간격 */
  padding: 10px;
}

/* 각 항목 스타일 */
#map > div {
  width: 90px; /* 아이콘 크기 */
  height: 120px; /* 텍스트를 포함한 높이 */
  display: flex;
  flex-direction: column; /* 이미지와 텍스트를 세로로 배치 */
  justify-content: center;
  align-items: center; /* 아이템 중앙 정렬 */
  text-align: center; /* 텍스트 가운데 정렬 */
}

/* SVG 아이콘 크기 */
#map svg {
  width: 100%;
  height: 100%;
}

/* 구 이름 텍스트 스타일 */
#map p {
  margin-top: 8px; /* 이미지와 텍스트 간격 */
  font-size: 12px; /* 텍스트 크기 */
  font-weight: bold; /* 텍스트 두껍게 */
  color: #333; /* 텍스트 색상 */
}

.color-gray {
  fill: #f2f1ea; /* 회색 */
}

.color-light {
  fill: #b3c187; /* 연한 색 */
}

.color-medium {
  fill: #85964d; /* 중간 색 (주황색) */
}

.color-dark {
  fill: #707d49; /* 진한 색 (빨간색) */
}
