.home-main {
  padding: 16px;
  margin-bottom: 100px;
}

.home-main h2 {
  font-family: "Pretendard";
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 24px;
  color: #000;
  font-weight: 200;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.header-image-placeholder {
  width: 60px; /* 필요시 크기 조정 */
  height: 30px;
  /* background-color: #ccc; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
}

.profile-placeholder {
  height: 35px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
}

.colored-area {
  position: relative;
  margin-bottom: 8px;
}

/* colored-area 스타일 */
.colored-area-placeholder {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: 200px; /* 높이를 제한하여 스크롤을 가능하게 설정 (원하는 높이로 조정) */
  overflow-y: auto; /* 내용이 넘칠 경우 세로 스크롤이 생기도록 설정 */
  padding-right: 10px; /* 오른쪽 여백 추가 (스크롤바와의 간격) */
  padding-top: 20px; /* 영역 위쪽 여백 추가 (스크롤 위로 튀어나가는 부분 조정) */
}
.colored-area h3 {
  position: absolute;
  top: 16px;
  left: 16px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #000;
}

.summary-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  gap: 16px;
  background-color: #f3f3f3;
  padding: 15px;
  border-radius: 18px;
}

.summary-item {
  text-align: center;
}

.summary-image-placeholder {
  width: 40px;
  height: 40px;
  background-color: #d9d9d9;
  margin-bottom: 4px;
}

.popular-section {
  margin-bottom: 16px;
}

.popular-section h3 {
  padding-top: 10px;
  font-size: 20px;
  color: #000;
}

.popular-paku-scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 8px;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.popular-paku-scroll-container > * {
  flex: 0 0 auto;
}

.popular-paku-scroll-container::-webkit-scrollbar {
  display: none;
}

/* map 스타일 */
#map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px; /* 각 항목 간의 간격을 설정 */
  padding-top: 10px;
}

/* 각 항목 스타일 */
#map > div {
  width: 80px; /* 각 아이템 너비 */
  height: 130px; /* 각 아이템 높이 */
  display: flex;
  flex-direction: column; /* 텍스트와 SVG를 세로로 배치 */
  justify-content: center;
  align-items: center;
  text-align: center; /* 텍스트 가운데 정렬 */
}

/* SVG 아이콘 스타일 */
#map svg {
  width: 100%;
  height: 100%;
}

/* 구 이름 스타일 */
#map p {
  margin-top: 8px; /* 이미지와 텍스트 간격 */
  font-size: 12px; /* 텍스트 크기 */
  font-weight: bold;
  color: #333; /* 텍스트 색상 */
}

.color-gray {
  fill: #f2f1ea; /* 회색 */
}

.color-light {
  fill: #b3c187; /* 연한 색 */
}

.color-medium {
  fill: #85964d; /* 중간 색 */
}

.color-dark {
  fill: #707d49; /* 진한 색 */
}

.color-dip-dark {
  fill: #414e18; /* 가장 진한 색 */
}
