.park-detail-main {
  padding: 16px;
  margin-bottom: 100px;
}

.back-button {
  background-color: #ccc;
  border: none;
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 18px;
}

.image-placeholder {
  width: 100%;
  height: 200px;
  background-color: #e0e0e0;
  margin-bottom: 16px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.park-info h4 {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.park-info-name {
  margin: 4px 0;
  font-size: 24px;
  font-weight: bold;
}

.park-info-des {
  margin: 0px 0;
  font-size: 16px;
}

.like-count-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

.like-counter,
.visit-counter {
  background-color: #f3f3f3;
  padding: 2px;
  border-radius: 18px;
  text-align: center;
  width: 48%;
}

.like-counter-label,
.visit-counter-label {
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 20px;
}

.like-counter-value,
.visit-counter-value {
  margin: 0px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.visit-controls {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tags-container {
  margin: 16px 0;
}

.tag {
  display: inline-block;
  background-color: #e0e0e0;
  padding: 4px 8px;
  border-radius: 18px;
  margin-right: 8px;
  font-size: 12px;
}

.location-info {
  margin: 16px 0;
  border-radius: 18px;
}

.map-placeholder {
  width: 100%;
  height: 150px;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0;
}

.location-copy-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.copy-button {
  padding: 4px 8px;
  background-color: #f3f3f3;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.copy-button:hover {
  background-color: #f3f3f3;
}

.copy-message {
  margin-top: 0px;
  font-size: 12px;
  color: green;
}

.popular-review {
  margin-top: 32px;
}

.review-card {
  background-color: #f3f3f3;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 16px;
}

.review-card h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.review-card p {
  font-size: 14px;
  margin: 4px 0;
}

.review-card p:last-child {
  font-size: 12px;
  color: #888;
}

.image-placeholder img {
  width: 100%;
  height: 200px;
  object-fit: cover; /* 이미지를 잘라서 채우기 */
  border-radius: 18px;
}

.write-review-button {
  display: block;
  margin: 16px auto; /* 가운데 정렬을 위해 auto 설정 */
  padding: 12px 24px;
  background-color: #f3f3f3;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.write-review-button:hover {
  background-color: #e0e0e0;
}

.check-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  margin: 16px auto;
  padding: 12px 24px;
  background-color: #85964d;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease; /* 마우스 호버 효과를 위해 부드러운 전환 추가 */
}

.check-button:hover {
  background-color: #b3b3b3; /* 마우스 호버 시 색상 변경 */
}

.check-button-title {
  color: white;
  font-size: 18px;
  margin-bottom: 4px;
}

.check-button-subtext {
  color: white;
  font-size: 12px;
  font-weight: normal;
}

.verification-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 90%;
  width: 300px;
}

.modal-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.modal-image {
  width: 100px;
  height: auto;
}

.green-button {
  background-color: #85964d;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 16px;
}

.green-button:hover {
  background-color: #6f7d3b; /* Hover 효과를 위한 약간 어두운 색상 */
}
