#map {
  width: 98.5%;
  height: 50vh; /* 원하는 높이로 설정 */
  border-radius: 18px;
}

.back {
  text-decoration: none;
  color: black;
}

.map {
  margin: 10px;
}

.sliding-bottom-sheet {
  position: fixed;
  margin: 5px;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 80vh; /* 최대 높이 설정 */
  background: white;
  border-top-left-radius: 20px; /* 둥근 모서리 */
  border-top-right-radius: 20px; /* 둥근 모서리 */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  touch-action: none; /* 터치 제스처 활성화 */
  overflow: hidden; /* 내용이 넘치지 않도록 설정 */
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.handle-bar {
  width: 40px;
  height: 4px;
  background: #ccc;
  border-radius: 2px;
  margin: 10px auto;
}

.tabs {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.tab {
  flex: 1;
  padding: 12px 0;
  text-align: center;
  font-weight: bold;
  color: #888;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.tab.active {
  color: #333;
  border-bottom: 3px solid #333; /* 활성 탭 강조 */
}

.tab.inactive {
  color: #bbb;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto; /* 스크롤 활성화 */
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #e0e0e0;
  margin: 5px 0;
  background-color: #f3f3f3;
  border-radius: 12px;
  transition: background-color 0.3s ease-in-out;
  z-index: 1000;
}

.list-item:hover {
  background-color: #f1f1f1; /* 호버 시 배경 색 변경 */
}

.list-item p {
  margin: 0;
  font-size: 14px;
}

.list-item button {
  background: transparent;
  border: none;
  color: #8c8c8c; /* 버튼 텍스트 색 */
  cursor: pointer;
  font-size: 16px;
}

.list-item button:hover {
  text-decoration: underline; /* 버튼 호버 시 밑줄 */
}
